.profile-dashboard-container {
  display: flex;
  column-gap: 10%;
}

.logout-container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-left: 1rem;
  top: 3rem;
  max-width: 15rem;
  padding: 2rem;
  row-gap: 1rem;
  position: sticky;
}

.row-format {
  column-gap: 2rem;
  display: flex;
}

.profile-column {
  row-gap: 1rem;
}
.profile-details {
  column-gap: 2rem;
}

.logout-btn {
  margin-left: 0;
  margin-top: 0;
  width: fit-content;
}

@media only screen and (max-width: 640px) {
  .logout-container {
    margin-left: unset;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100vw;
    flex-wrap: wrap;
    margin-bottom: 0;
    position: relative;
  }
  .profile-dashboard-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .account-header {
    display: none;
  }
}
