.pagewrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0%;
  padding: 0%;
}

:root {
  --gray-color: #f5f5f6;
  --bg-color: #fffafa;
  --nav-color: #f5f5f5;
  --hover-color: #d9d9d9;
  --primary-color: #6d28d9;
  --text-color: #444444;
  --error-color: #e01006;
  --hover-color: #d9d9d9;
}

.no-link-decoration {
  text-decoration: none;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --nav-color: #191921;
  --hover-color: #2d2d3a;
  --primary-color: #dabdff;
  --text-color: rgba(255, 255, 255, 0.87);
  --error-color: #f99090;
  --gray-color: #f5f5f60c;
  --shadow-color: transparent;
  --light-color: #191921;
  --hover-color: #2d2d3a;
  --primary-bg-color: #2d2d3a;
  --default-color: rgba(255, 255, 255, 0.925);
  --success-color: #3fff18;
}

[data-theme="dark"] .card.card-default {
  box-shadow: none;
}
[data-theme="dark"] button {
  font-weight: bold;
}
[data-theme="dark"] .input-label {
  color: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background: var(--default-color);
}
